html {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 62.5%;
    overflow: scroll;
}

#nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    z-index: 100;   
}

#nav .nav-content {
    height: 95px;
    box-shadow: 2px 2px 5px;
    box-sizing: border-box;
    transition: height .5s;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
    background-color: white;
}

#nav .nav-content ul {
    align-self: flex-end;
    justify-content: center;
    list-style: none;
    margin: 0 0 -3px 0;
    padding: 0;
}

#nav .nav-content ul li {
    display: inline-block;
    padding-bottom: 2.5em;
    margin-right: 36px;
    position: relative;
}

#nav .nav-content ul li a, #nav-mobile .nav-content ul li a {
    font-size: 1.250rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-burger {
    line-height: 70px;
}

.navbar-burger a {
    font-weight: bold;
}

.responsive {
    display: none;
}

.dropdown {
    display: inline-block;
    padding-bottom: 2.5em;
    margin-right: 36px;
    position: relative;
}

.nav-logo {
    padding: 3px 3px;
    margin: 0;
}       

.content {
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 100px;
}

.background-image {
    background-image: url(./assets/burgershop1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    height: 1080px;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    z-index: -1;
}

.description {
    color: white;
    font-family: oswald,Sans-serif;
    font-size: 3rem;
}

.menu-options {
    color: black;
    text-align: center;
    font-size: 2,5rem;
}

.menu-images {
    display: grid;
    justify-content: center;
    margin: auto;
}

.buffer-min {
    height: 2rem;
}

.buffer {
    height: 10rem;
}

.form-group {
    width: 18rem;
    padding-bottom: 10px;
    border: black;
    border-width: 30px;
}

.subtitle {
    color: black;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10px;
}

.contacts {
    color: black;
    text-align: center;
    font-size: 2rem;
}

.btn {
    background-color: transparent;
    color: black;
    border: transparent;
}

.btn:hover {
    background-color: transparent;
    color: black;
}

.btn:focus {
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.dropdown-item:active {
    background-color: grey;
}

.btn-primary {
    margin-top: 20px;
    width: 100px;
    border: black;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: grey;
    color: black;
}

.card {
    background-color: white;
    border-radius: 10px;
    border: black;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 6px;
}

#exampleFormControlTextarea1,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(172, 172, 172, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(99, 99, 99, 0.6);
  outline: 0 none;
}

/*fondo*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
  
@font-face {
    font-family: letrafacha;
    src: url(BubbleDriving.ttf);
}

#exampleFormControlTextarea1,
.form-control {
    border: 1px solid black;
}

/*Boton*/
.boton {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


/* MEDIA QUERY PARA CELULARES (ESTO SIEMPRE QUEDA AL FINAL DEL ARCHIVO) */
@media all and (max-width: 768px) {
    
    #nav .nav-content {
        height: 75px;
    }

    .navbar-elem {
        display: none;
    }

    .description {
        font-size: 2rem;
    }

    .burger-logo {
        width: 100px;
    }

    .menu-images {
        width: 300px;
    }

    .btn-send {
        display: none;
    }

    .btn-primary {
        margin-top: 5px;  
        margin-bottom: 30px; 
    }

    .responsive {
        display: block;
    }

    
}