/* ola */
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 500;
}

/* BUFFERS */
.buffer-min {
    height: 2rem;
    scroll-margin-top: 5em;
}

.buffer {
    height: 10rem;
}

/* BACKGROUND */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* FUENTES */
h1,
h4 {
    font-family: "Audiowide", serif;
    color: white;
}

h2,
h3,
a,
p,
form {
    font-family: 'Orbitron', serif;
}

h1,
h4 {
    font-size: 9rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 6rem;
}

h3 {
    color: white;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
}

h4 {
    font-size: 1.7rem;
}

footer p {
    font-size: 0.9rem;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav-link,
.navbar-brand {
    color: white;
}

.navbar-nav .nav-item a:hover,
.dropdown-menu .dropdown-item:hover,
.nav-logo:hover,
.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover,
.dropdown-item:focus {
    transform: scale(1.05);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.nav-link:hover,
.nav-link:focus {
    color: black;
}

/* IMAGENES */
.nav-logo {
    width: 4.5rem;
}

.hero {
    align-items: center;
}

.img-hero,
.img-hero-mobile {
    width: 54rem;
    animation: floatingDrift 8s ease-in-out infinite;
}

.img-hero-mobile {
    display: none;
}

.img-container {
    width: 19rem;
}

.img-container img,
.img-hero,
.img-hero-mobile,
.logos,
.nav-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container:hover img,
.logos:hover {
    transform: scale(1.09);
}

/* ANIMACIONES */
@keyframes floatingDrift {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.hero h1 {
    animation: nebulosaGlow 2.5s ease-in-out forwards;
    opacity: 0;
    filter: blur(3px);
}

@keyframes nebulosaGlow {
    0% {
        opacity: 0;
        filter: blur(3px);
        text-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
    }

    50% {
        opacity: 0.5;
        filter: blur(1px);
        text-shadow: 0 0 20px rgba(173, 216, 230, 0.7);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        text-shadow: 0 0 40px rgba(173, 216, 230, 0.9);
    }
}

/* CONTACTO */
.contact form {
    padding: 30px;
    margin: 20px 0;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}

.email,
.name {
    float: left;
    width: 45%;
}

.email {
    float: right;
}

input[type="text"],
[type="email"],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: white;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.3s;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
}

#exampleFormControlTextarea1,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: rgba(172, 172, 172, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(99, 99, 99, 0.6);
    outline: 0 none;
}

#form_button {
    background: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

#form_button:hover {
    background: white;
    color: black;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* TARJETAS */
.glass {
    background-color: rgba(45, 45, 45, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logos {
    margin-top: 3rem;
    width: 3rem;
}

/* MEDIA QUERY */
@media (max-width: 800px) {

    /* FUENTES */
    h1 {
        font-size: 3.9rem;
    }

    h2 {
        font-size: 1rem;
        margin: 1rem 0;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    input[type="text"],
    [type="email"],
    select,
    textarea {
        font-size: 0.6rem;
    }

    #form_button {
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }

    .hero {
        align-items: start;
    }

    /* IMAGENES */
    .nav-logo {
        width: 3.5rem;
        margin-left: 0.1rem;
    }

    .nav-link,
    .dropdown-item
    {
        font-size: 0.95rem;
    }

    .img-hero {
        display: none;
    }

    .img-hero-mobile {
        display: block;
        width: 20rem;
    }

    .img-container {
        width: 8rem;
    }

    .logos {
        margin-top: 2rem;
        width: 2rem;
    }

    /* BUFFERS */
    .buffer-min {
        height: 1rem;
    }

    .buffer {
        height: 3rem;
    }

    footer p {
        font-size: 0.7rem;
    }
}